.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__group-name<
        = @group.name
      %ul.main-header__left-box__menber-list
        Member：
        - @groups.each do |group|
          %li.main-header__left-box__menber-list__menber<
            = group.name
    = link_to edit_group_path(@group) do
      .main-header__edit-btn<
        Edit
  .messages
    = render @messages      
  .form
    = form_for [@group, @message], html: {class: 'edit-message'} do |f|
      .edit-box
        = f.text_field :body, class: "edit-box__text", placeholder: "type a message"
        = f.label :image, class: 'edit-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'edit-box__image__file'
      = f.submit 'Send', class: 'send-btn'
